version: '3.3'

services:
  app-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - proximity-db
    command: sh -c './wait-for proximity-db:3306 -- npm start'
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://proximity-db:3306/proximity-db?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    networks:
      - backend


  proximity-db:
    image: mysql:5.7
    hostname: proximity-db
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: proximity-db
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend


volumes:
  db-data:


networks:
  backend: